.container.client {
  background-color: var(--black-color);
  color: var(--white-color);
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

.left-client {
  width: 30%;
  position: relative;
  text-align: center;
}

.left-client h2 {
  font-size: 35px;
  padding-top: 40px;
  width: 77%;
   margin-left: 15px; 
  text-align: end;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.wave-image {
  max-width: 250%;
  max-height: 300%;
   /* border: 1px solid white;  */
  filter: brightness(50%);
  margin: 30px 150px;
}

.arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 220px;
  left: 150px;
  right: 0;
}

.left-arrow,
.right-arrow {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid var(--yellow-color);
  color: var(--yellow-color);
  padding: 8px;
  cursor: pointer;
}

.left-arrow {
  margin-right: 15px;
}

.right-client { 
  width: 70%;
}

.client-review {
  overflow: hidden;
}

.review-list {
  display: flex;
  transition: transform 0.5s ease;
}

.review-item {
  list-style-type: none;
  width: 100%;
  padding: 10px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.review-item.active {
  opacity: 1;
}

.review-box {
  border: 2px solid #6c6c6e;
  border-radius: 10px;
  padding: 10px;
  color: #6c6c6e;
  background-color: var(--dark-grey-color);
}

.stars {
  color: var(--yellow-color);
  text-align: end;
  margin-bottom: 10px;
}

.review-box p {
  line-height: 1.4;
  font-size: 14px;
  margin-bottom: 8px;
}

.review-box h3,
.review-box h4 {
  font-size: 14px;
  margin: 0;
}

@media (max-width: 1024px) {
  .container.client {
    flex-direction: column;
    align-items: center;
  }

  .arrows {
    display: none;
  }

  .left-client {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .left-client img {
    display: none;
  }

  .right-client {
    width: 100%;
    position: relative;
  }

  .review-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .review-box {
    width: 100%;
    margin: 10px auto;
  }

  .review-item {
    width: 100%;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .review-item.active {
    opacity: 1;
  }

  .review-item:not(.active) {
    display: none;
  }
}
