.our-service {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}

.our-service h2 {
    font-size: 35px;
}

.our-service-accordian {
    margin: 50px auto 10px auto;
}

.middle-accordian {
    border-top: 2px solid black;
}

.last-accordian {
    border-bottom: 2px solid black;
}

.accordian-title1 {
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: space-between; 
    height: 100px;
    background-color: #f2f2f2 !important;
}

.accordian-title1 div {
    display: flex;
    align-items: center;
    width: 94%;
}

.our-service-number {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;    
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--black-color);
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.accordian-detail1 {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2 !important;
    background: #f2f2f2 !important;
    margin-left: 0%;
}

.accordian-detail1 ul li {
    margin-bottom: 10px;
    margin-left: 50px;
    color: var(--p-color);
    /* margin-left: 15px; */
}

.down-arrow {
    height: 30px;
    width: 30px;
    background-color: var(--yellow-color);
    color: var(--black-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Responsive design for tablets and below */
@media (max-width: 1024px) {
    .our-service{
        padding-left: 10px;
        padding-right: 10px;
    }
    .accordian-title1 {
        display: flex;
        height: 80px;
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .accordian-title1 div {
        justify-content: start;
        width: 100%;
    }

    .accordian-detail1 {
        flex-direction: column;
        margin-left: 0;
    }

    .accordian-detail1 ul li {
        margin-bottom: 10px;
        margin-left: 20px;
    .accordian-detail1{
        justify-content: start;
    }
    .accordian-detail1 ul li {
        margin-bottom: 10px;
        margin-left: 15px;
        color: var(--p-color);
        text-align: start; 
    }
}

/* Responsive design for mobile phones */
@media (max-width: 768px) {
    .accordian-title1 {
        font-size: 18px;
        height: auto;
    }

    .accordian-title1 div {
        width: 100%;
    }

    .our-service-number, .down-arrow {
        margin: 10px;
        height: 25px;
        width: 25px;
        font-size: 13px;
    }
}