.home-main {
    margin-top: 70px;
    padding-left: 3%;
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    background: #fff;
}

.left-home {
    margin-top: 50px;
    width: 100%; 
}

.left-home h2 {
    font-size: 70px;
    font-weight: 700;
}

.legal {
    margin-top: -20px;
}

.left-home h3 {
    gap: 10px;
    font-size: 24px;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.left-home p {
    padding: 16px 0px;
    color: var(--p-color);
    width: 100%; 
}

.input-container {
    position: relative;
}

.input-div {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 48px;
    position: relative;
}

.input-div input {
    height: 48px;
    width: 62%; 
    border: none;
    outline: none;
    padding-left: 10px;
}

.input-div span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    background-color: var(--yellow-color);
    color: var(--black-color);
    cursor: pointer;
    border-radius: 5px;
}

.suggestions {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 0;
    background: #f3f2f2;
    border-radius: 10px;
    margin-top: 2px;
    z-index: 1000;
    width: 60%;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
    padding: 0px 16px;
    cursor: pointer;
}

.suggestion-item:hover {
    color: #9c9c9c;
}

.search-icon {
    height: 20px;
    width: 20px;
}

.left-home div {
    margin: 15px 0px;
}

.popular {
    font-size: 0.875rem;
    border: 1px solid black;
    border-radius: 50px;
    padding: 2px 10px;
    margin-right: 10px;
    line-height: 1.25rem;
}

.right-home {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home-image {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 60%;
    max-height: 68%; 
}

.man-image {
    position: absolute;
    top: 54%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 60%;
    max-height: 59.7%; 
}

.businessman-image {
    position: relative;
    width: 90%;
    margin-bottom: 50px;
    margin-top: 60px;
    top: 55%;
    z-index: 2; 
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .popular-names {
        display: none;
    }
}

@media (min-width: 768px) {
    .left-home, .right-home {
        width: 50%; 
    }

    .left-home p {
        width: 70%;
    }

    .black-box {
        height: 580px;
    }

    .yellow-box {
        height: 80%;
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .home-main {
        display: flex;
        flex-direction: column;
    }

    .left-home {
        flex-basis: 100%;
        width: 100%;
    }

    .right-home {
        flex-basis: 100%;
        width: 100%;
        background-color: white;
    }

    .left-home h2 {
        text-align: center;
        font-weight: 600;
    }

    .left-home h3 {
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 400;
    }

    .left-home p {
        display: none;
    }

    .input-div {
        text-align: center;
        justify-content: center;
        padding-bottom: 20px;
    }

    div {
        text-align: center;
        justify-content: center;
    }
}
