@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ui-sans-serif", "system-ui", "sans-serif";
  --yellow-color: #b9f73e;
  --white-color: #fff;
  --black-color: #1a1a1a; 
  --p-color: rgb(102, 102, 102);
}
body {
  background: #f2f2f2;
}
.btn{
  background: var(--yellow-color);
  color: var(--black-color);
  font-weight: 600;
  padding: 14px 25px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.7s;
}
.container {
  padding-right: 7%;
  padding-left: 7%;
}
.btn-img{
  margin-left: 5px;
  font-size: 20px;
}
.dot{
  background-color: var(--yellow-color);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: 0px 10px 0px 10px;
}

@media (max-width: 1250px){
   .container{
    padding-left: 5%;
    padding-right: 5%;
   }
}